*{
  margin: 0;
  padding: 0;
}
*[commonColor]{
  background-color: #172035!important;
}
a{
  text-decoration: none;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.tl{
  text-align: left;
}
.tr{
  text-align: right;
}
ul,li,ol{
  list-style: none;
}
body{
  font-size: 16px;
}
input,select,option{
  background-color: transparent;
  border: none;
}
input:focus,select:focus{
  outline: none;
}
button[primary]{
  background-color: #0297e2;
  color: #ffffff;
}
.logo{
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background: url("/static/images/login.png") no-repeat;
  background-size: 100% 100%;
}
@keyframes ufo {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.icon-mobile {
  background: url("/static/images/Mobile-phone-number.png") no-repeat;
  background-size: contain;
}
.icon-lock {
  background: url("/static/images/s1.png") no-repeat;
  background-size: contain;
}
.vux-header[empty]{
  background-color: transparent;
}
.vux-header[fixed]{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.null-wrap{
  position: relative;
  height: 3rem;
  background: url(/static/images/null.png) no-repeat center 80%;
  background-size: 2rem;
}
.null-wrap:after {
  position: absolute;
  content: '暂无数据';
  bottom: -14px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.icon{
  display: inline-block;
}
.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.2rem;
  border-color: transparent transparent #ddd transparent;
}
.triangle-up.active{
  border-color: transparent transparent #0297e2 transparent;
}
.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #ddd transparent transparent transparent;
}
.triangle-down.active{
  border-color: #0297e2 transparent transparent transparent;
}
